---
import { MoonIcon } from "@heroicons/vue/24/solid/index.js";
import { SunIcon } from "@heroicons/vue/24/outline/index.js";
---

<button type="button" aria-label="Toggle dark mode" data-mode="toggle"
  class="group rounded-full bg-zinc-50 px-3 py-2 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur transition dark:bg-zinc-800/90 dark:ring-white/10 dark:hover:ring-white/20">

  <MoonIcon
    class="h-5 w-5 stroke-zinc-500 transition hidden dark:block" />

  <SunIcon
    class="h-5 w-5 stroke-amber-500 transition dark:hidden block" />
</button>

<script>
  const html = document.documentElement.classList;
  (localStorage.theme == "dark") ? html.add("dark") : html.remove("dark");

  function toggle() {
    html.toggle('dark');
    localStorage.theme = (html.contains('dark') ? 'dark' : '');
  }

  const button = document.querySelector("button[data-mode=toggle]")
  button?.addEventListener("click", toggle)
</script>
