---
import { Image } from "@astrojs/image/components";
import DarkToggle from "../components/DarkToggle.astro";
import Nav from "../components/Nav.vue";

const current = Astro.url.pathname;
---

<header
  class="sticky top-6 z-50 flex gap-4 mb-14 lg:mb-28">

  <a href="#content"
    class="absolute z-50 transition -translate-y-24 focus:translate-y-0 p-2 bg-zinc-700/80 text-white font-bold">

    Skip Navigation
  </a>

  <div
    class="flex flex-1">

    <a href="/"
      class="h-10 w-10 rounded-full shadow-lg backdrop-blur p-0.5 shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:ring-white/10 bg-white/90 dark:bg-zinc-800/90">

      <Image src={import("../assets/headshot.jpg")} width={800} height={800} alt="headshot"
        class="rounded-full h-9 w-9 bg-zinc-900" />
    </a>
  </div>

  <nav
    class="flex flex-1 justify-center">

    <Nav current={current} />
  </nav>

  <div
    class="flex flex-1 justify-end">

    <DarkToggle />
  </div>
</header>
